.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.restaurant-card {
  width: calc(33.33% - 40px); /* Adjust width for responsive layout */
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.restaurant-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.restaurant-details {
  text-align: center;
}

.restaurant-details h2 {
  margin-bottom: 5px;
}

.restaurant-details p {
  margin-bottom: 10px;
}

/* Media query for tablets */
@media (max-width: 1024px) {
  .restaurant-card {
    width: calc(50% - 40px); /* Two cards in a row */
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .restaurant-card {
    width: calc(100% - 40px); /* Single card in a row */
  }
}
